* {
    background-color: black;
    text-align: center;
}
/* header and hyperlink */
.title{
    color: white;
    font-family: Verdana;
    font-size: 3.125rem;
    font-weight: normal;
}
a {
    color: aquamarine;
    font-size: 1rem;
    font-family: Verdana;
    font-weight:normal;
}
/* after the video */
h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 2.625rem;
}
.class {
    font-family: Verdana;
    font-size: 1.3125rem;
    color: gray;
}